{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static '/assets/favicon.png' %}">
</head>
<body>
    <nav>
        <ul>
            <a href="{% url 'index' %}">Cerrar sesion</a>
            <li>
                <a href="{% url 'my_app' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'panel_administrador' %}">Administrador</a>
            </li>
            <li>
                <a href="">Profesores</a>
            </li>
            <li>
                <a href="{% url 'ListadoDeAlumnos' %}">Estudiantes</a>
            </li>
        </ul>
        
    </nav>
</body>
</html>


{% block content %}
{% endblock%}