<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="{% url 'panel_administrador' %}">Panel administrador</a>
            </li>
            <li>
                <a href="">Profesores</a>
            </li>
            <li>
                <a href="">Estudiantes</a>
            </li>
        </ul>
        <a href="">Cerrar sesion</a>
    </nav>
</body>
</html>


{% block content %}
{% endblock%}