{% extends 'layouts/codemyapp.html' %} {% load static %} {% block content %}

<title>{{title}}</title>
<script src="{% static 'lib/funciones_card.js' %}"></script>

<h1>{{h1}}</h1>
<div class="contend Profesores">
  <h2>PROFESORES</h2>
  <div class="contend-cards alumnos" onclick="Click(`{% url 'ListadoDeAlumnos' %}`)">
    <span
      ><img
        src="https://cdn.hugeicons.com/icons/backpack-01-stroke-rounded.svg"
        alt="backpack-01"
        width="48"
        height="48"
    /></span>
    <p>Alumnos</p>
  </div>
  <div class="contend-cards notas" onclick="Click(`{% url 'notas' %}`)">
    <span
      ><img
        src="https://cdn.hugeicons.com/icons/note-add-stroke-rounded.svg"
        alt="note-add"
        width="48"
        height="48"
    /></span>
    <p>Notas</p>
  </div>
  <div class="contend-cards actividades">
    <span
      ><img
        src="https://cdn.hugeicons.com/icons/book-upload-stroke-rounded.svg"
        alt="book-upload"
        width="48"
        height="48"
    /></span>
  </div>
  <p>Actividades</p>
</div>


<div class="contend graficas">
    <h2>GRAFICAS</h2>
  <div class="contend-cards graficas">
    <span
      ><img
        src="https://cdn.hugeicons.com/icons/chart-histogram-stroke-rounded.svg"
        alt="chart-histogram"
        width="48"
        height="48"
    /></span>
    <p>Graficas</p>
  </div>
</div>


{% endblock %}