:root{
    --Background: #252440;
    --Background_header: #5A56AC;
    --Text_color: #ffff;
    --Font_Text_h1: 'Roboto', sans-serif;
    --Text_color_links:#ffff;
    --Hover_nav : #99A2E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--Background);
    color: var(--Text_color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Logo {
    font-size: 3em;
    user-select: none;
}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: var(--Text_color_links);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
/* PARA LAS LINEAS BAJO LOS LINK */
.navegation a::after { 
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#ffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navegation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}	
.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
    /* color: var(--Text_color); */
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navegation .btnLogin-popup:hover {
    background: var(--Background_header);
    color: var(--Text_color_links);
}
.btnLogin-popup p{
    right: 20px;
    font-size: 20px;
    
}

.LogoHeader {
    display: flex;
    align-items: center; /* Para centrar verticalmente si lo deseas */
}
.icon {
    width: 150px;
    height: 150px;
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio entre la imagen y el título */
}


/*CUEPOR*/

.Cuerpo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
}

/*ACTUAL*/