:root{
    --Background: #252440;
    --Background_header: #5A56AC;
    --Text_color: #ffff;
    --Font_Text_h1: 'Roboto', sans-serif;
    --Text_color_links:#ffff;
    --Hover_nav : #99A2E0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--Background);
    color: var(--Text_color);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--Background_header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.Logo {
    font-size: 3em;
    user-select: none;
}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: var(--Text_color_links);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navegation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
    /* color: var(--Text_color); */
    font-weight: 500;
    margin-left: 40px;
}
.btnLogin-popup a {
    right: 20px;

}
.icon {
    width: 150px;
    height: 150px;
}

.Cuerpo {
    position: fixed;
}