:root{
    --Background : #252440;
    --Background_:#302C9B;
    --Background_thead :#6966c5;
    --Color_text: #ffff;    
    --White:#ffff;
    --Decoration : #162938;
    --Color_a: #8084d4;
    --BTN:#49478c;                            
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    cursor: pointer;
}
.content-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: none;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    transition: display 0.5s ease-in-out; /* Define la transición para la propiedad display */

}

/* Agrega una animación para cuando la tabla se muestra */
.content-table[style="display: inline-block;"] {
    animation: fadeIn 0.5s;
}

/* Define la animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-table thead tr {
    background-color: #009879;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}


.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.content-table tbody tr:active-row {
    font-weight: bold;
    color: #009879;
}
