:root{
    --Background : #252440;
    --Background_:#302C9B;
    --Color_text: #ffff;    
    --White:#ffff;
    --Decoration : #162938;
    --Color_a: #8084d4;
    --BTN:#49478c;                            
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--Background);
    color: var(--Color_text);
}
.forms_PriemrNombre{
    width: 300px;
}
.SegudnoApellido
{
    width: 300px;
    height: 100px;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--White); 
    margin: 30px 0;
}
.btn {
    width: 100%;
    height: 45px;
    background: var(--BTN);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: var(--Color_text);
    font-weight: 500;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--Color_text);
    font-weight: 600;
}