:root{
    --Background : #252440;
    --Background_:#302C9B;
    --Background_thead :#6966c5;
    --Color_text: #ffff;    
    --White:#ffff;
    --Decoration : #162938;
    --Color_a: #8084d4;
    --BTN:#49478c;                            
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: var(--Background);
    color: var(--Color_text); */
}

.content-table {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: #009879;
    color: #FFFFFF;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    /* background: var(--Background_); */
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.content-table tbody tr:active-row {
    font-weight: bold;
    color: #009879;
}