{% extends 'layouts/base_estudiantes.html' %}

{% block content_RegisterEstudente %}

{% load static %}

<title>{{title_Alumnos}}</title>
<script src="{% static 'lib/tables.js' %}"></script>

<h1>ALUMNOS</h1>
<button class="btn">
<a href="{% url 'MatricularAlumno' %}">Matricular</a>
</button>
<form action="">
    <input type="text" name="buscar" placeholder="Buscar" required>
    <button class="btn">Buscar</button>
</form>


{% for grado, alumnos in estudiantes_por_grado.items %}
    <div class="grado-container">
        <h2 onclick="toggleTable('{{ grado }}')">{{ grado }}</h2>
        <table id="{{ grado }}" class="content-table" style="display: none;">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Fecha nacimiento</th>
                        <th>Edad</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Contraseña</th>
                    </tr>
                </thead>      
                
                <tbody> 
                    {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.Id }}</td>   
                        <td>                     
                            {{ alumno.SegundoNombre }}
                            {{ alumno.PrimerNombre }} 
                        </td>                
                        <td>
                            {{ alumno.SegudnoApellido }}
                            {{ alumno.PrimerApellido }}
                        </td>                  
                        <td>{{ alumno.Sexo }}</td>              
                        <td>{{ alumno.FechaNacimiento }}</td>                          
                        <td>{{ alumno.Edad }}</td>               
                        <td>{{ alumno.Direccion }}</td>                  
                        <td>{{ alumno.Telefono }}</td>
                        <td>{{ alumno.Correo }}</td>
                        <td>{{alumno.rol}}</td>
                        <td>{{alumno.Contraseña}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    </div>
        
{% endfor %}



{% endblock %}