{% extends 'layouts/base_estudiantes.html' %}

{% block content_RegisterEstudente %}

<title>{{title_Matricula}}</title>


<div class="wrapper">
    <div class="segudno">
        <h1>{{title_Matricula}}</h1>
        <p>Ingresa los datos del nuevo alumno</p>
        <form action="" method="POST"> {% csrf_token %}
            
            <div class="input-box">
                {{ form_matricula.as_p }}
                {{ form_matricula.errors }}
            </div>
            <button type="submit" class="btn">Guardar</button>
        </form>
        
        <button>
            <a href="{% url 'ListadoDeAlumnos' %}">Terminar</a>
        </button>
    </div>
</div>

<br>


{% endblock %}