{% extends 'layouts/base.html' %}

{% block content %}

<title>{{title_login}}</title>
<a href="{% url 'index' %}">Inicio</a>
    <div class="padre">
        
        <div class="hijo">

            <h1>{{title}}</h1>

            <form class="forms" method="post">

                <div class="class">
                    <label for="Username_Login">Usuario</label>
                    <img src="https://cdn.hugeicons.com/icons/user-stroke-rounded.svg" alt="user" width="24" height="24" />
                    {{form_login.Username_Login}}
                    {{form_login.Username_Login.errors}}
                </div>

                <div class="class">
                    <label for="Password_Login">Contarseña</label>
                    <img src="https://cdn.hugeicons.com/icons/user-lock-01-stroke-rounded.svg" alt="user-lock-01" width="24" height="24" />
                    {{form_login.Password_Login}}
                    {{form_login.Password_Login.errors}}
                </div>
                
                <div class="class">
                    <label for="">Ver contraseña</label>
                    {{form_login.SeePassword}}
                </div>

                <button class="button">
                    Acceder
                </button>

            </form>

            <a href="{% url 'restorePassword' %}">¿Olvidaste tu contraseña?</a>

            <p>¿No tienes una cuenta?<a href="{% url 'create' %}"> Registrate</a></p>    
        </div>
    </div>

    
{% endblock %}