{% extends 'layouts/base.html' %}

{% block content %}

{% load static %}

<title>{{title_login}}</title>

<!-- <a href="{% url 'index' %}">Inicio</a> -->

<div class="wrapper">

    <a href="{% url 'index' %}" class="icon-close"><ion-icon name="close"></ion-icon></a>

    <div class="form-box login">

        <h1>{{title}}</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <form class="forms" action="{% url 'login' %}" method="POST"> {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                <input type="text" name="username" id="" required>
                <label for="username">Usuario</label>     
            </div>
            <!-- <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{form_login.Username_Login}}
                {{form_login.Username_Login.errors}}
                <label for="Username_Login">Usuario</label>     
            </div> -->

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" name="password" id="" required>
                <label for="password">Contarseña</label>
            </div>
            <!-- <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{form_login.Password_Login}}
                {{form_login.Password_Login.errors}}
                <label for="Password_Login">Contarseña</label>
            </div> -->
            <div class="remember-forgot">              
                <label for="">
                    <input type="checkbox" name="SeePassword" id="">
                    Ver contraseña
                </label>    
                <a href="{% url 'restorePassword' %}">¿Olvidaste tu contraseña?</a>
            </div>
            <!-- <div class="remember-forgot">              
                <label for="">
                    {{form_login.SeePassword}}
                    {{form_login.SeePassword.errors}}
                    Ver contraseña
                </label>    
                <a href="{% url 'restorePassword' %}">¿Olvidaste tu contraseña?</a>
            </div> -->

            <button type="submit" class="btn">
                <a href="{% url 'my_app' %}"></a>Acceder</a>
            </button>
            <div class="login-register">
                 
            </div>
            

        </form>
    </div>
</div>
  
{% endblock %}