{% extends 'layouts/base.html' %}

{% block content %}

<title>{{title_login}}</title>

<!-- <a href="{% url 'index' %}">Inicio</a> -->

<div class="wrapper">

    <a href="{% url 'index' %}" class="icon-close"><ion-icon name="close"></ion-icon></a>

    <div class="form-box login">

        <h1>{{title}}</h1>

        <form class="forms" method="post">

            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{form_login.Username_Login}}
                {{form_login.Username_Login.errors}}
                <label for="Username_Login">Usuario</label>
             
                
            </div>

            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{form_login.Password_Login}}
                {{form_login.Password_Login.errors}}
                <label for="Password_Login">Contarseña</label>
            </div>
            
            <div class="remember-forgot">              
                <label for="">
                    {{form_login.SeePassword}}
                    {{form_login.SeePassword.errors}}
                    Ver contraseña
                </label>    
                <a href="{% url 'restorePassword' %}">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" class="btn">
                Acceder
            </button>
            <div class="login-register">
                <p>¿No tienes una cuenta?<a clas="register-link" href="{% url 'register' %}"> Registrate</a></p>  

            </div>

        </form>
    </div>
</div>


    
{% endblock %}