{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title_changed}}</title>
</head>
<body>
    <div class="Encabezado">
        <h1>{{title}}</h1>  
        <button>
            <a href="{% url 'login' %}">Iniciar sesion</a>
        </button>
        <button>
            <a href="{% url 'create' %}">Rejistrarte</a>
        </button>
    </div>
    <div class="continer">
        <form action="">
            {{form_changed}}
            <button>
               Restablecer la contraseña
            </button>
        </form>
    </div>
    
    
</body>
</html>
