{% extends 'layouts/base.html' %}

{% block content %}

    <div class="wrapper-register">
        <a href="{% url 'index' %}" class="icon-close"><ion-icon name="close"></ion-icon></a>
        <div class="form-box">
            <h1>{{title}}</h1>

            <form class="forms" action="" method="POST"> {% csrf_token %}

                <div class="input-box">
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    {% csrf_token %}
                    {{ newUSer.gmail_Register }}
                    <label for="gmail_Register">Gmail</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="person"></ion-icon></span>
                    {% csrf_token %}
                    {{ newUSer.Name_Register }}
                    {{ newUSer.Name_Register.errors }}
                    <label for="Name_Register">Usuario</label>
                </div>

                <div class="input-conbobox">
                    <label for="Rol_Register">Rol</label>
                    {% csrf_token %}
                    {{ newUSer.Rol_Register }}
                    {{ newUSer.Rol_Register.errors }}
                    
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    {% csrf_token %}
                    {{ newUSer.Password_Register }}
                    {{ newUSer.Password_Register.errors }}
                    <label for="Password_Register">Contraseña</label>
                </div>

                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    {% csrf_token %}
                    {{ newUSer.Password_RegisterConfirm }}
                    {{ newUSer.Password_RegisterConfirm.errors }}
                    <label for="Password_RegisterConfirm">Confirmar Contraseña</label>
                </div>
            

                <div class="remember-forgot">
                    <label for="">
                        <input type="checkbox"> Acepto terminos y condiciones</input>
                    </label>
                </div>

                <button class="btn">
                    Crear
                </button>

                <div class="login-register">
                    <p>¿Tienes una cuenta?<a href="{% url 'login' %}"> Inicia sesión</a></p> 
                </div>
                
            </form>
        </div>
    </div>
   
    

{% endblock %}