{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/styleListado.css' %}">
    <link rel="shortcut icon" href="/static/assets/favicon.png">
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="{% url 'my_app' %}">Inicio</a>
            </li>
            <li>
                <a href="{% url 'panel_administrador' %}">Administrador</a>
            </li>
            <li>
                <a href="">Profesores</a>
            </li>
            <li>
                <a href="{% url 'ListadoDeAlumnos' %}">Estudiantes</a>
            </li>
        </ul>
        <a href="">Cerrar sesion</a>
    </nav>
    
    
    <script src=""></script>
    <!-- Para usar los icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

{% block content_RegisterEstudente %}
{% endblock %}